@page "/counter"
@inherits CounterBase

<h1>Counter</h1>

<p>Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-danger" @onclick="TryGraph">Try Graph</button>

<ul>
    @foreach (var child in Children)
    {
    <li>
        <span>@child.Name</span>
        <span>@child.CTag</span>
        <span>@child.ETag</span>
    </li>
    }
</ul>